html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

#container {
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  height: 100%;
  color: #D0D0D0;
}

td{
  border-width: 1px;
  border-style: solid;
  border-color: #202020;
}

input:focus {
  color: #202020;
}

.mini-btn {
    display: inline-block;
    padding: 1px 4px;
    margin-bottom: 3px;
    margin-left: 132px;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


.in-line {
  display: inline-block;
  text-align: left;
}




#menu-tab {
  height: 40px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #303030;
}

.my-navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.my-navbar-brand {
    float: left;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    line-height: 20px;
}

.my-navbar-nav {
    width: 50%;
    height: 100%;
    margin-top: 7.5px;
    vertical-align: middle;
    text-align: center;
}

#main-container{
  width: 100%;
}





#tool-tab {
  height: 10px;
  width: 100px;
  background-color: #404040;
  text-align: center;
}

#canvas-tab {
  height: 100%;
  padding: 0px;
  background-color: #606060;
  text-align: center;
}

#svgDraw{
  height: 100%;
  width: 90%;
  padding: 0px;
  background:url('test/realbackground.png') repeat #eeeeee;
  margin: auto;
}





#detail-tab{
  height: 100%;
  width: 250px;
  background-color: #404040;
}

#detail-tab table tr {
  border-width: 0px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #202020;
}

#detail-tab table tr td {
  padding: 15px;
  border-width: 0px;
}

#property {
  width: 40px;
  align-items: center;
  display: inline-block;
  text-align: left;
}

#property-line {
  margin-top: 5px;
  text-align: center;
}

#color_picker {
  width: 90%;
  height: 130px;
  margin: auto;
}

#color-picker {
  width: 90%;
  height: 200px;
  background-color: #FFFFFF;
  text-align: left;
  margin-right: 1%;
}

#color-helper {
  width: 6%;
  height: 200px;
  background-color: #FFFFFF;
}

.itemFirst{
  width: 45px;
  margin-left: 0px;
  margin-right: 20px;
  height: 23px;
}

.itemSecond{
  width: 45px;
  height: 23px;
}

.itemThird{
  width: 70px;
  margin-left: 0px;
  margin-right: 5px;
  height: 23px;
}



#animation-tab {
  height: 150px;
  width: 100%;
  background-color: #363636;
}

.custom-menu {
    z-index:1000;
    position: absolute;
    background-color:#C0C0C0;
    border: 1px solid black;
    padding: 2px;
}
