html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

#container {
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  height: 100%;
  color: #D0D0D0;
}

.detail-cell {
  padding-left: 20px
}



#menu-tab {
  height: 40px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #303030;
}

.my-navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.my-navbar-brand {
    float: left;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    line-height: 20px;
}

.my-navbar-nav {
    width: 50%;
    height: 100%;
    margin-top: 7.5px;
    vertical-align: middle;
    text-align: center;
}

#main-container{
  width: 100%;
}




#tool-tab {
  height: 10px;
  width: 100px;
  background-color: #404040;
  text-align: center;
}

#canvas-tab {
  height: 100%;
  padding: 0px;
  background-color: #606060;
  text-align: center;
}

#svgDraw{
  height: 100%;
  width: 90%;
  padding: 0px;
  background-color: #FFFFFF;
  margin: auto;
}



#detail-tab{
  height: 100%;
  width: 250px;
  background-color: #404040;
}

#color-picker {
  width: 100%;
  height: 200px;
  background-color: #FFFFFF;
}

#itemWidth{
  width: 40px;
  margin-left: 5px;
  margin-right: 20px;
}

#itemHeight{
  width: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

#itemX{
  width: 40px;
  margin-left: 5px;
  margin-right: 50px;
}

#itemY{
  width: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

#itemAngle{
  width: 60px;
  margin-left: 5px;
  margin-right: 5px;
}







#animation-tab {
  height: 150px;
  width: 100%;
  background-color: #363636;
}
